body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/pexels-pixabay-221345.jpg);
    background-size: cover;
    background-position: center;
}


:root {
    --border-radius: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    margin: 20px auto;
    text-align: center;
}

.add-button {
    background-color: #2a6c2c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #45a049;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none;
}


/* -------------Dashboard Style-------------*/
h4:first-child.cell {
    margin-top: calc(2rem - .1428571428571429em);
}

.ui.message p:first-child.cell {
    margin-top: 0.75em;
}

.dashboard-heading.fixed-grid.has-5-cols {
    padding: 1em 1.5em;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2);


}

.cell.dropdown.icon {
    justify-self: flex-end;
    margin-top: 0.75em;
}

.title.fixed-grid.has-5-cols {
    margin-bottom: 0;
}

.grid .cell.d-heading {
    margin: 1rem 0;
}

p.card-header-title,
img.card-header-title {
    margin: 0;
    justify-self: center;
}

.card-header.fixed-grid.has-5-cols .grid {
    width: 100%;

}

.grid .card-header-icon {
    justify-content: flex-end;
}

.card-hidden {
    display: none;
}

#data {
    margin-top: 5rem;
}

/* Added for user Shweta */
#user-dob {
    z-index: 101;
}


.successMsg {
    display: none;
    background-color: green;
    color: white;
}

.modal-content {
    max-width: 30rem;
    max-height: 55rem;
}


#map {
    height: 400px;
    width: 100%;
}



@media (max-width: 690px) {

    #dialog-form.modal {

        height: 560px !important;

    }
}

@media (max-width: 500px) {

    #dialog-form.modal {
        height: 560px !important;

    }
}